DJANGO_SECRET_KEY=django-insecure-dev-only-key-change-me
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost

ADMIN_SUPERUSER_USERNAME=admin
ADMIN_SUPERUSER_EMAIL=admin@admin.com
ADMIN_SUPERUSER_PASSWORD=admin
