{% load static %}
<script src="{% static 'system/js/shared/csrf.js' %}" defer></script>
<script src="{% static 'system/js/shared/dom.js' %}" defer></script>
<script src="{% static 'system/js/shared/json_config.js' %}" defer></script>
<script src="{% static 'system/js/shared/timing.js' %}" defer></script>
<script src="{% static 'system/js/shared/modal.js' %}" defer></script>
<script src="{% static 'system/js/shared/confirm_dialog.js' %}" defer></script>
<script src="{% static 'system/js/shared/masks.js' %}" defer></script>
<script src="{% static 'system/js/shared/dates.js' %}" defer></script>
<script src="{% static 'system/js/shared/form_state.js' %}" defer></script>
<script src="{% static 'system/js/shared/password_toggle.js' %}" defer></script>
<script src="{% static 'system/js/shared/messages.js' %}" defer></script>
<script src="{% static 'system/js/shared/list_filter.js' %}" defer></script>
<script src="{% static 'system/js/shared/frame_bridge.js' %}" defer></script>
<script src="{% static 'system/js/shared/frame_height.js' %}" defer></script>
<script src="{% static 'system/js/shared/frame_modal.js' %}" defer></script>
<script src="{% static 'system/js/shared/modal_child.js' %}" defer></script>
