{% extends "business_rule/auth/base_auth.html" %}
{% load static %}

{% block title %}{{ site_name }} | Senha redefinida{% endblock %}

{% block auth_head %}
  <link rel="stylesheet" href="{% static 'business_rule/css/auth/login.css' %}?v=20260629-4">
{% endblock %}

{% block auth_body %}
<main class="login-page__main">
  <section class="login-card login-card--login" aria-labelledby="password-reset-done-title">
    <header class="login-card__header">
      <div class="login-card__logos">
        <img class="login-card__logo login-card__logo--light-theme" src="{% static 'logo/logo-dark.png' %}" alt="{{ site_name }}" width="250">
        <img class="login-card__logo login-card__logo--dark-theme" src="{% static 'logo/logo-light.png' %}" alt="{{ site_name }}" width="250">
      </div>
      <h1 id="password-reset-done-title">Senha redefinida</h1>
    </header>
    <p class="login-support">Sua senha foi redefinida com sucesso. Você já pode entrar com a nova senha.</p>
    <a class="btn-register" href="{% url 'system:login' %}">Ir para o login</a>
  </section>
</main>
{% endblock %}
